* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 62.5%;
overflow-x: hidden;
}
body{
  background: hsl(225, 100%, 94%);
}

.order_samuray_h {
font-family: 'Red Hat Display';
overflow-x: hidden;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background:url(./images/pattern-background-desktop.svg) ;
background-repeat: no-repeat;
background-size: 100%;
}

.order_samuray {
width: 38rem;
margin: 0 auto;
background: #fff;
border-radius: 20px;
overflow: hidden;
box-shadow: 5px 5px 70px hsla(220, 2%, 34%, 0.287);
}
.order_samuray_top img{
  width: 100%;
  object-fit: cover;
}
.order_samuray_center{
  padding: 4rem 3rem;
}

.order_samuray_center h1{
  font-size: 26px;
  text-align: center;
  color: hsl(223, 47%, 23%);
}
.order_samuray_center p{
  font-size: 16px;
  text-align: center;
  color:  hsl(224, 23%, 55%);
  margin-top: 15px;
}

.music_order{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding:1.2rem 1.6rem;
  border-radius: 10px;
  background: hsl(225, 100%, 98%);
  margin-top: 15px;

}

.music_price{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: -40px;
  line-height: 0.6;
}
.music_price h3{
  font-size: 16px;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}
.music_price p{
  font-size: 16px;
  color:  hsl(224, 23%, 55%);
}

.music_order a{
  font-size: 14px;
  color:  hsl(245, 75%, 52%);
  font-weight: 700;

}
.order_samuray_bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 3rem;

}
.order_samuray_bottom button{
width: 90%;
height: 40px;
font-size: 14px;
font-weight: 700;
color: #fff;
background:  hsl(245, 75%, 52%);
border: none;
border-radius: 8px;
box-shadow: 2px 5px  90px hsla(0, 0%, 45%, 0.56);
}
.order_samuray_bottom a{
  font-size: 15px;
  color:  hsl(224, 14%, 48%);
  font-weight: 700;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 40px;
}